@import "../variables";

// Input blocks are ux elements that represent a unified design for input elements
// like text inputs or select dropdown inputs. They have a common class to avoid
// repetative styling for similar-looking blocks for different type of inputs.

.input-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background: #ffffff;
    border: $input-border;
    padding: $input-padding;
    font-size: inherit;
    line-height: inherit;
    outline: none;

    &_focus,
    &:focus {
        border-color: #a0c0ff;
    }

    transition: border 0.3s ease;

    &_invalid,
    &_invalid:focus {
        border-color: #F44336;
    }

    // When inner is same as outer, set modifier
    &_outer {
        padding: 0;
    }

    // When inner is sub element
    &__inner {
        padding: $input-padding;
        font-size: inherit;
        line-height: inherit;
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
    }

    // Nesting
    .input-block {
        border: none;
    }
}
