@import "../variables";

.dropdown-toggle {
    position: relative;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__toggle {
        white-space: nowrap;
        color: inherit;
    }

    &__options {
        position: absolute;
        top: 100%;
        right: 0;
        visibility: hidden;
        min-width: 100%;
        z-index: 1000;

        transform: translateY(-20px);
        opacity: 0;

        transition: transform 0.05s linear,
                    opacity 0.05s linear,
                    visibility 0s linear 0.05s;
    }

    &_open &__options {
        transform: translateY(4px);
        visibility: visible;
        opacity: 1;


        transition: transform 0.1s ease-out,
                    opacity 0.1s ease-out,
                    visibility 0s linear;
    }

    &_styled &__options {
        background: #ffffff;
        color: #000000;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
}
