@import "../variables";

.modal-toggle {
    position: relative;
    color: #000000;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__toggle {
        color: inherit;
        white-space: nowrap;
    }

}
