@import "../variables";

.select-input {
    .dropdown-toggle__toggle {
        .option,
        .item {
            // padding: 0; // Since inside input-block
            // line-height: inherit; // Since inside input-block
            cursor: pointer;

            &:hover {
                // background: rgba(0, 0, 0, 0.075);
            }
        }
    }

    .dropdown-toggle__options {
        .option,
        .item {
            padding: 0.4em 1em;
            cursor: pointer;
        }
    }

    .option__title {
        display: block;
        line-height: 1.6em;
    }

    .option__text {
        display: block;
        margin-top: 1px;
        margin-bottom: px;
        font-size: 0.8em;
        line-height: 1.4em;
        color: #606060;
    }
}
