@import "../variables";
@import "./input-block";

.string-input {
    position: relative;
    background: #ffffff;
    display: inline-block;
    width: 100%;

    &__counter {
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        font-size: 0.85em;
        line-height: 1em;
        color: #606060;

        &_invalid {
            color: #cf0000;
        }
    }

    input[type="text"] {
        // border: none;
    }

    &_multiline &__input {
        resize: none;
    }

    &__input:focus {
        outline: none;
    }
}
