@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

pre {
    font-family: 'Roboto Mono';
    font-size: 12px;
    padding: 8px;
    background: #efefef;
    border-radius: 4px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-sixe: 24px;
}

h3 {
    font-size: 20px;
}

label {
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}